<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="pms">
    <listeners><!-- 监听器设置 -->
        <listener class-name="utils.TestListener"/>
    </listeners>
    <test name="测试">
        <parameter name="type" value="2"/>
        <classes>
            <class name="HelloTest"/>
        </classes>
    </test>
</suite>